Vasttrafik/SampleData/TripsData/TripsData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.TripsData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.TripsData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TripsData" type="tns:TripsData" />
  <xs:complexType name="TripsData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="DisplayNextTrip" type="xs:double" />
    <xs:attribute name="Destination" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="LineBackgroundColor" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="LineForegroundColor" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="Line" type="xs:double" />
  </xs:complexType>
</xs:schema>